.form-legend {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
}

.link-bar > a {
   margin-left: 10px;
}

.video-container {
    margin-top: 15px;
}

.video-container form .row {
   margin-top: 8px;
}